:root {
    --primary-text-color:#212121;
    --second-color:#757575;
    --accent-color:#2196F3;
    --fon-batton: #2196F3;
    --wite-color:#ffffff;
}

body {
font-family: 'roboto', sans-serif;
background-color: #ffffff; 
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

button {
    font-family: inherit;
}

/* ============HEADER============= */
.menu-link {
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: var (--primary-text-color);
}

/* .menu-item>menu-link {
color: var(--accent-color);
} */

.menu-link:hover,
.menu-link:focus {
color: var(--accent-color)
}
.cont-link:hover,
.cont-link:focus {
color: var(--accent-color)
}


.logo-link {
 font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em; 
/* color: #2196F3; */
} 

.logo-link>span {
    color: var(--accent-color)
}

.link {
    color: #000;
}


.cont-link {
font-family: 'Roboto', sans-serif;
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em; 
color: var(--second-color);
}

/* ==============HERO=============== */
.modal-btn {
font-family: 'Roboto', sans-serif;
background-color: var(--fon-batton);
color: var(--wite-color);
cursor: pointer;
}

.hero-caption {
font-family: 'Roboto', sans-serif;
font-weight: 900;
font-size: 44px;
line-height: 1.36;
}

/* ===========Особености подхода к работе=============== */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.description-title {
font-weight: 700;
font-style: normal;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--primary-text-color);
}

.description-text {
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--second-color);
}


/* =========Вид деятельности компании========== */
.work-title {
font-size: 36px;
line-height: 1.16;
text-align: center;
letter-spacing: 0.03em;
color: var(--primary-text-color);
}

/* ===========Состав компании============ */
.structure {
    background: #F5F4FA;
}
.structure-subtitle {
font-family: 'Roboto', sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.18;
letter-spacing: 0.03em;
color: var(--primary-text-color);
}

.structure-list-profession {
font-family: 'Roboto', sans-serif;
font-size: 16px;
line-height: 1.18;
letter-spacing: 0.03em;
color: var(--second-color);
}

/* ===============Footer============= */
.footer {
background: #2F303A;
}
.company-address {
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--wite-color);
}

.footer>.link {
color: var(--wite-color);;
}


.list-contact {
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
}

.list-contact:hover {
    color: var(--accent-color);
}


/* ============Страница portfolio================ */
/* ============Секция портфолио компании============= */
.filter-item {
color: var(--primary-text-color);
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.62;
letter-spacing: 0.03em;
}

.filter-item:hover,
.filter-item:focus {
color: var(--wite-color);
background-color: var(--fon-batton);;
}

.portfolio-item-heading {
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
color: var(--primary-text-color); 
}

.portfolio-item-text {
font-weight: 400;
font-size: 16px;
line-height: 1.87;
letter-spacing: 0.03em;
color: var(--second-color);
}